.header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px var(--container);
    background-color: $black;
    @media screen and (min-width: 1024px) {
        padding-top: 0;
        padding-bottom: 0;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;
        // column-gap: 30px;
        padding-top: 15px;
    }
    @media screen and (min-width: 1200px) {
        column-gap: 37px;
        padding-top: 20px;
        padding-bottom: 27px;
    }
    @media screen and (min-width: 1640px) {
        padding-top: 25px;
        padding-bottom: 40px;
        column-gap: 50px;
    }
    &__logo{
        width: 220px;
        margin-bottom: 15px;
        @media screen and (min-width: 1024px) {
            flex-shrink: 0;
            margin-bottom: 0px;
            width: 200px;
        }
        @media screen and (min-width: 1200px) {
            width: 200px;
        }
        @media screen and (min-width: 1640px) {
            width: 266px;
        }
        img{
            object-fit: contain;
        }
    }
    &__info{
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;;
        }
        @media screen and (min-width: 1200px) {
            flex-grow: 1;
        }
    }
    &__top-nav{
        display: none;
        @media screen and (min-width: 1024px) {
            display: block;
        }
        @media screen and (min-width: 1200px) {
            width: 100%;
        }
    }
    &__phone{
        align-self: flex-end;
        margin-left: auto;
    }
}
.top-nav{
    &__list{
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            column-gap: 10px;
        }
        @media screen and (min-width: 1200px) {
            column-gap: 10px;
            justify-content: space-between;
        }
    }
    &__link{
        position: relative;
        font-size: 14px;
        font-family: $golos;
        color: $blue;
        line-height: 1.2;
        text-decoration: none;
        &.active-menu{
            color: $red;
            &::before{
                width: 100%;
            }
        }
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1200px) {
        }
        @media screen and (min-width: 1640px) {
            font-size: 18px;
        }
        &:hover{
            color: $red;
            &::before{
                width: 100%;
            }
        }
        &:active{
            color: $darkBlue;
        }
        &::before{
            content: "";
            position: absolute;
            top: -20px;
            left: 0;
            width: 0%;
            height: 5px;
            background-color: $red;
            transition: var(--trans);
            @media screen and (min-width: 1640px) {
                top: -25px;
            }
        }
    }
}
.top-phone{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    column-gap: 15px;
    text-decoration: none;
    color: $white;
    font-family: $dinPro;
    &:hover{
        .top-phone{
            &__text{
                color: $red;
            }
            &__icon-circle{
                fill: $white;
            }
        }
    }
    &__text{
        transition: inherit;
        font-size: 16px;
        font-weight: bold;
        @media screen and (min-width: 1200px) {
            font-size: 12px;
        }
        @media screen and (min-width: 1640px) {
            font-size: 18px;
        }
        &--big{
            font-size: 34px;
            @media screen and (min-width: 1024px) {
                font-size: 26px;
            }
            @media screen and (min-width: 1640px) {
                font-size: 32px;
            }
        }
    }
    &__icon{
        width: 24px;
        height: 24px;
        &-circle{
            fill: $red;
            transition: var(--trans);
        }
        @media screen and (min-width: 1200px) {
        }
        @media screen and (min-width: 1640px) {
        }
    }
}
